.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.refresh-button{
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    border: solid lightgray 1px;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 30px;
    aspect-ratio: 1;
}
.coin-list-nav-object{
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    border: solid lightgray 1px;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 4px;
}
.coin-logo{
    height: 80%;
}
.triangle{
    height: 10px;
}

.coin-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    border: solid lightgray 1px;
    height: 30px;
    animation: .5s slide-up;
    margin-top: 0%;
}
.red-percentage{
    color: red;
}
.green-percentage{
    color: green;
}
@keyframes slide-up {
    from {
        margin-top: 100%;
    }
    to {
        margin-top: 0%;
    }
}